h1{
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.5px;
    text-align: left;
}
.hero{
    background-image: url("../../assets/images/hero__img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 258px 0 167px 140px;
}