.hero__cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    bottom: 100px;
    gap: 10px;
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 417.94px;
        height: 358.31px;
        padding: 29px 22px 42px 52px;
        background-image: url("../../assets/images/hero__card1.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 10px;
        &:hover{
            transform: scale(1.1, 1.1);
            transition: .5s all;
        }
    }
    .title{
        color: rgb(34, 50, 99);
        font-size: 20px;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 0.5px;
        text-align: left;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        margin-right:80px ;
        width: 200px;
    }
    .old__price{
        display: flex;
        align-items: center;
        margin:120px 130px 0 0;
        white-space: nowrap;
        h3{
            color: rgb(144, 152, 177);
            font-size: 18px;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: 0.5px;
            text-align: left;
            text-decoration-line: line-through;
        }
        h4{
            color: rgb(251, 113, 129);
            font-size: 18px;
            font-weight: 700;
            line-height: 150%;
            letter-spacing: 0.5px;
            text-align: left;
        }
    }
    .price{
        color: rgb(64, 191, 255);
        font-size: 30px;
        font-weight: 700;
        line-height: 180%;
        letter-spacing: 0.5px;
        text-align: left;
        margin-left:170px;
        position: relative;
        top: 180px;
    }
}
.hero__cards:hover > .card:not(:hover){
    filter: blur(10px);
    transform: scale(0.9, 0.9);
    transition: .5s all;
}