.image-container {
    position: relative;
    display: inline-block;
    transition: 0.5s all ease-in;
}

.navigation {
    display: none;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s all ease-in;
    padding: 75px;
    background: rgb(255, 255, 255);
    opacity: 0.95;
    button{
        border: 2px solid rgb(51, 160, 255);
        padding: 15px;
        border-radius: 50%;
        color: rgb(51, 160, 255);
        font-size: 22px;
        display: flex;
        align-items: center;
    }
}

.image-container:hover {
    .navigation {
    display: flex;
    transition: 0.5s all ease-in;
}
}
.card{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    &:hover {
        transform: scale(1.1, 1.1);
        transition: .5s all;
    }
    img{
        width: 299.5px;
        height: 272.5px;
        object-fit: cover;
    }
}
.card__body{
    padding: 14px 40px 20px ;
    h2{
        color: rgb(34, 50, 99);
        font-size: 18px;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 0.5px;
        text-align: left;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    .prices{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        .count{
            display: flex;
            align-items: center;
            gap: 5px;
            .old__price{
                color: rgb(144, 152, 177);
                font-size: 14px;
                font-weight: 400;
                line-height: 150%;
                letter-spacing: 0.5px;
                text-align: left;
                text-decoration-line: line-through;
            }
            h4{
                color: rgb(251, 113, 129);
            }
        }
        .price{
            color: rgb(64, 191, 255);
            font-size: 18px;
            font-weight: 700;
            line-height: 180%;
            letter-spacing: 0.5px;
            text-align: left;
        }
    }
}
.rating{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: gold;
    font-size: 20px;
}
.product__title{
    display: flex;
    align-items: center;
    flex-direction: column;
    h1{
        color: rgb(34, 38, 42);
        font-size: 35px;
        font-weight: 600;
        line-height: 53px;
        letter-spacing: 0%;
        text-align: left;
    }
    ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        li{
            font-size: 20px;
            font-weight: 400;
            line-height: 33px;
            letter-spacing: 0% ;
            text-align: left;
            cursor: pointer;
            transition: .5s all ease-in;
            &:hover{
                color: #33A0FF;
                text-decoration: underline;
                transition: .5s all ease-in;
            }
        }
    }
}
.products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    // margin-right: 200px !important;
}
.products:hover>.card:not(:hover) {
    filter: blur(5px);
    transform: scale(0.9, 0.9);
    transition: .5s all;
}